.details-label {
  font-weight: bold;
  float: right;
}

.details-pane p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-pane form {
  width: 100%;
  display: inherit;
}

.details-pane form > div {
  height: 100%;
}

.details-pane a.btn-search-link,
.details-pane form .btn-search-link {
  color: #fff;
  background-color: #343a40;
  margin-bottom: 0.5rem;
}

.details-pane a.btn-search-link:hover,
.details-pane form .btn-search-link:hover {
  background-color: #3e3e3e;
}

.list-pane-title {
  margin-bottom: 1rem;
}

.list-pane {
  background-color: #343a40;
  padding: 0;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.list-pane .nothing {
  color: #fff;
  margin: 0.5rem 15px;
}

.list-pane .nav-tabs {
  background-color: #999;
  border-radius: 0.25rem;
}

.list-pane .nav-link {
  border: 1px solid #999;
}

.list-pane .nav-link.active {
  background-color: #343a40;
  color: #fff;
  border: 1px solid #343a40;
}

.list-pane .nav-link:hover {
  background-color: #888;
  border-color: #888;
}

.list-pane .tab-content {
  padding: 0;
}

.list-pane .card {
  margin: 1em;
}

.list-pane a {
  color: #222;
}

.list-pane h5 a {
  color: #212529;
}

@media only screen and (max-width: 767px) {
  .details-label {
    float: left;
  }
}
