html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/static/images/search.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home-landing h1 {
  text-align: center;
  font-weight: 800;
  font-size: 4rem;
  color: #fff;
  mix-blend-mode: difference;
}

.home-landing .input-group-prepend input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.home-landing form {
  margin-bottom: 0;
}

.home-landing .form-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 767px) {
  .home-landing h1 {
    font-size: 3rem;
  }

  .home-landing .input-group:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .home-landing .input-group input,
  .home-landing .input-group select {
    text-align: center;
  }
}
