.jumbotron {
  height: 23rem;
  background-position: center center;
  background-size: cover;
}

.box-layout {
  margin-bottom: 2rem;
}

.search-pane {
  background-color: #fff;
  padding: 0;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  height: 100%;
}

.search-pane .nav-tabs {
  background-color: #aaa;
  border-radius: 0.25rem 0.25rem 0 0;
}

.search-pane .nav-link.active {
  border-color: #fff;
}

.search-pane form {
  padding: 1.5rem;
  margin-bottom: 0;
}

.search-pane form input {
  margin-bottom: 1.5rem;
}

.search-pane li:hover a {
  background-color: #bebebe;
}

.search-pane a {
  color: #fff;
}

.list-pane {
  padding-right: 0;
}

.list-pane a {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.list-pane a:hover {
  background-color: #5b5b5b;
  border-color: #5b5b5b;
}

.list-pane a .item-text .item-note {
  color: #aaa;
  font-size: 0.75rem;
  vertical-align: middle;
}

.pagination-wrapper {
  margin: auto;
}

.pagination > ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.pagination > ul > li {
  width: 100%;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #fff;
}

.pagination > ul > li:first-child {
  border-left: 1px solid #aaa;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination > ul > li:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination > ul > li > a {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.5rem;
}

.pagination > ul > li > a:hover {
  text-decoration: none;
  background-color: #ddd;
}

@media only screen and (max-width: 767px) {
  .search-pane {
    margin-bottom: 1.5rem;
  }

  .search-pane .row .btn:first-child {
    margin-bottom: 1rem;
  }

  .list-pane {
    padding-left: 0;
  }
}
