
.jumbotron {
  width: 100%;
  height: 23rem;
  background-position: center center;
  background-size: cover;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.search-pane {
  background-color: #fff;
  padding: 0;
  border-radius: .25rem;
}

.search-pane .tab-content {
  padding: 1em 15px 0 15px;
}

.search-pane a {
  color: #495057;
}

.search-pane li:hover a {
  color: #343539;
}
