html, body {
  padding: 60px 0 70px;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #fff, #eee, #ccc);
  background-color: #ffffff;
}

.header {
    background-color: #e65100
}

.header img {
    border-radius: 50%;
}

.header .navbar-brand {
    font-weight: 600;
}

.footer {
    display: inline-block;
    color: white;
    background-color: #343a40;
    padding-top: 1em;
}

.error {
    color: red;
    font-size: .8em;
}

.invisible {
    display: none;
}

.box-layout {
    display: inline-block;
    float: left;
}

.input-group {
    border-radius: .25rem;
}