body {
    padding: 60px 0;
    background: #ffffff;
}

.website-header img {
    border-radius: 50%;
}

.error {
    color: red;
    font-size: .8em;
}

.footer {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.invisible {
    display: none;
}