{% from 'macros/cards.html' import card %}

{% macro announce_item(url, name, price, state, date) -%}
    {{ card(url, name, [price, state], [date]) }}
{%- endmacro %}

{% macro nothing() -%}
    <p>There is no announce yet...</p>
{%- endmacro %}

{% macro equipment_announces_list(announces) -%}
    {% if announces|length > 0 %}
        {% for announce in announces %}
            {{ announce_item(url_for('equipments.equipment_details',
                                     equipment_id=announce.equipment_id),
                             announce.equipment_name,
                             announce.price,
                             announce.state,
                             announce.date) }}
        {% endfor %}
    {% else %}
        {{ nothing() }}
    {% endif %}
{%- endmacro %}
