{% from 'macros/cards.html' import card %}

{% macro announce_item(url, name, announce) -%}
    {{ card(url, name, [announce.price, announce.state], [announce.date]) }}
{%- endmacro %}

{% macro nothing() -%}
    <p class="nothing">There is no announce yet...</p>
{%- endmacro %}

{% macro equipment_announces_list(announces) -%}
    {% if announces|length > 0 %}
        {% for announce in announces %}
            {{ announce_item(url_for('equipments.equipment_details',
                                     equipment_id=announce.equipment_id),
                             announce.equipment_name,
                             announce) }}
        {% endfor %}
    {% else %}
        {{ nothing() }}
    {% endif %}
{%- endmacro %}

{% macro shop_announces_list(announces) -%}
    {% if announces|length > 0 %}
        {% for announce in announces %}
            {{ announce_item(url_for('shops.shop_details',
                                     shop_id=announce.shop_id),
                             announce.shop_name,
                             announce) }}
        {% endfor %}
    {% else %}
        {{ nothing() }}
    {% endif %}
{%- endmacro %}
