{% macro enumeration(values) -%}
{% for value in values %}
{{ value.name }},
{% endfor %}
{%- endmacro %}

{% macro value_or_unspecified(value) -%}
{% if value != None %}
{{ value }}
{% else %}
Unspecified
{% endif %}
{%- endmacro %}

{% macro values_or_unspecified(values) -%}
{% if values != None %}
{% for value in values %}
{{ value.name }},
{% endfor %}
{% else %}
Unspecified
{% endif %}
{%- endmacro %}

{% macro detail(name, value) -%}
<div class="row">
    <div class="col-md-6">
        <label class="details-label">{{ name }}</label>
    </div>
    <div class="col-md-6">
        <p>{{ value_or_unspecified(value) }}</p>
    </div>
</div>
{%- endmacro %}

{% macro detail_list(name, values) -%}
<div class="row">
    <div class="col-md-6">
        <label class="details-label">{{ name }}</label>
    </div>
    <div class="col-md-6">
        <p>{{ values_or_unspecified(values) }}</p>
    </div>
</div>
{%- endmacro %}

{% macro details(items) -%}
{% for item in items %}
{{ item }}
{% endfor %}
{%- endmacro %}
