{% macro formfield(field) -%}
    <div class="form-group">
        {% if field.errors %}
            {{ field(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ field(class="form-control") }}
        {% endif %}
    </div>
{%- endmacro %}

{% macro formbox_general(form, fields, buttons, footer) -%}
    <div class="form-box">
        <div class="inner-form-box">
            <form class="form form-horizontal" method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    {% for field in fields %}
                        {{ formfield(field) }}
                    {%  endfor %}
                </fieldset>
                {% for button in buttons %}
                    {{ button }}
                {%  endfor %}
            </form>
            {% if footer %}
                {{ footer }}
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro formbox(form, fields, buttons) -%}
    {{ formbox_general(form, fields, buttons, None) }}
{%- endmacro %}

{% macro formbox_custom(form, fields, buttons, footer) -%}
    {{ formbox_general(form, fields, buttons, footer) }}
{%- endmacro %}
