{% from 'macros/cards.html' import card %}

{% macro stars(note) -%}
    {% for i in range(note) %}
        &bigstar;
    {% endfor %}
    {% if note < 5 %}
        {% for i in range(5 - note) %}
            &star;
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% macro recommendation_item(url, name, note, date, comment) -%}
    {{ card(url, name, [stars(note), date], [comment]) }}
{%- endmacro %}

{% macro nothing() -%}
    <p>There is no recommandation yet...</p>
{%- endmacro %}

{% macro user_recommendations_list(recommendations) -%}
    {% if recommendations|length > 0 %}
        {% for recommendation in recommendations %}
            {{ recommendation_item(url_for('users.user_details', username=recommendation.username), recommendation.username, recommendation.note, recommendation.date, recommendation.comment) }}
        {% endfor %}
    {% else %}
        {{ nothing() }}
    {% endif %}
{%- endmacro %}

{% macro practice_center_recommendations_list(recommendations) -%}
    {% if recommendations|length > 0 %}
        {% for recommendation in recommendations %}
            {{ recommendation_item(url_for('practice_centers.practice_center_details', practice_center_id=recommendation.item_id), recommendation.name, recommendation.note, recommendation.date, recommendation.comment) }}
        {% endfor %}
    {% else %}
        {{ nothing() }}
    {% endif %}
{%- endmacro %}

{% macro sport_recommendations_list(recommendations) -%}
    {% if recommendations|length > 0 %}
        {% for recommendation in recommendations %}
            {{ recommendation_item(url_for('sports.sport_details', sport_id=recommendation.item_id), recommendation.name, recommendation.note, recommendation.date, recommendation.comment) }}
        {% endfor %}
    {% else %}
        {{ nothing() }}
    {% endif %}
{%- endmacro %}

{% macro double_recommendations_list(sport_recommendations, practice_center_recommendations) -%}
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                href="#sport-recommendations">Sport recommendations</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                href="#practice-center-recommendations">Practice center
            recommendations</a></li>
    </ul>

    <div class="tab-content">
        <div id="sport-recommendations" class="tab-pane fade show active">
            {{ sport_recommendations_list(sport_recommendations) }}
        </div>
        <div id="practice-center-recommendations" class="tab-pane fade">
            {{ practice_center_recommendations_list(practice_center_recommendations) }}
        </div>
    </div>
{%- endmacro %}
