
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top header" style="background-color:#e65100">
    <div class="container">
        <a class="navbar-brand ml-8" href="{{ url_for('search.search') }}">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="40" height="40" alt="" id="logo"/>
            SportsApp
        </a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item active nav-link" href="{{ url_for('sports.sports') }}">Sports</a>
                <a class="nav-item active nav-link" href="{{ url_for('practice_centers.practice_centers') }}">Practice Centers</a>
                <a class="nav-item active nav-link" href="{{ url_for('shops.shops') }}">Shops</a>
                <a class="nav-item active nav-link" href="{{ url_for('equipments.equipments') }}">Equipments</a>
                <a class="nav-item active nav-link" href="{{ url_for('users.users') }}">Users</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
