{% extends "details.html" %}
{% from 'macros/announces.html' import shop_announces_list %}
{% from 'macros/details.html' import details, detail %}
{% from 'macros/jumbotron.html' import jumbotron %}

{% block jumbotron %}
{{ jumbotron(equipment.name, 'equipments') }}
{% endblock %}

{% block details %}
{{ details([
detail('Name', equipment.name),
detail('Manufacturer', equipment.manufacturer_name),
detail('Category', equipment.category_name),
detail('Description', equipment.description)]) }}
{% endblock %}

{% block associated_items %}
    {{ shop_announces_list(equipment.announces) }}
{% endblock %}
