{% extends "details.html" %}
{% from 'macros/announces.html' import shop_announces_list %}
{% from 'macros/details.html' import details, detail, search_link_list %}
{% from 'macros/jumbotron.html' import jumbotron %}

{% block jumbotron %}
{{ jumbotron(equipment.name, 'equipments') }}
{% endblock %}

{% block details %}
{{ details([
detail('Name', equipment.name),
detail('Manufacturer', equipment.manufacturer_name),
detail('Equipment Type', equipment.type_name),
detail('Description', equipment.description),
search_link_list('Associated sports', equipment.associated_sports, url_for('sports.sports'))]) }}
{% endblock %}

{% block associated_items %}
    {{ shop_announces_list(equipment.announces) }}
{% endblock %}
