{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <title>SportsApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:#e65100 ">
        <div class="container">
            <a class="navbar-brand ml-8">
                <img src="{{ url_for('static', filename='images/SportsAppLogo.jpg') }}" width="40" height="40" alt=""
                     id="logo"> SportsApp</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item active nav-link" href="{{ url_for('sports.sports') }}">Sports</a>
                    <a class="nav-item active nav-link" href="{{ url_for('practice_centers.practice_centers') }}">Practice
                        Centers</a>
                    <a class="nav-item active nav-link" href="{{ url_for('users.users') }}">Users</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}


<div class="container">
    <div class="content">

        <!-- flash messages -->
        {% for error_message in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>
        {% endfor %}

        {% for success_message in get_flashed_messages(category_filter=["success"]) %}
        <div class="alert alert-success alert-dismissible">{{ success_message }}</div>
        {% endfor %}

        {% for info_message in get_flashed_messages(category_filter=["info"]) %}
        <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
        {% endfor %}

        <!--
                {% for debug_message in get_flashed_messages(category_filter=["debug"]) %}
                  <div class="alert alert-info alert-dismissible">{{ debug_message }}</div>
                {% endfor %}
        -->
        <!-- child template -->
        {% block content %}
        {% endblock %}

        <div class="footer">
            <p>GLO-2005 - 2020</p>
        </div>
    </div>
</div><!-- /.container -->

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
{% endblock %}