<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SportsApp</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <!-- TODO : Send to home -->
            <a class="navbar-brand" href="{{ url_for('sports.sports') }}">SportsApp</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-item nav-link" href="{{ url_for('sports.sports') }}">Sports</a>
                </li>
                <!-- TODO : User section -->
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="content">

        <!-- flash messages -->
        {% for error_message in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>
        {% endfor %}

        {% for success_message in get_flashed_messages(category_filter=["success"]) %}
        <div class="alert alert-success alert-dismissible">{{ success_message }}</div>
        {% endfor %}

        {% for info_message in get_flashed_messages(category_filter=["info"]) %}
        <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
        {% endfor %}

        <!--
                {% for debug_message in get_flashed_messages(category_filter=["debug"]) %}
                  <div class="alert alert-info alert-dismissible">{{ debug_message }}</div>
                {% endfor %}
        -->
        <!-- child template -->
        {% block content %}
        {% endblock %}

    </div>
    <div class="footer">
        <hr>
        <p>GLO-2005 - 2020</p>
    </div>
</div><!-- /.container -->

<!-- scripts -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>
