{% extends "layout.html" %}

{% block inner_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">

    {% include 'partials/errors.html' %}

    {% block jumbotron %}
    {% endblock %}

    <div class="row">
        <div class="col-md-6 col-sm-12 box-layout search-pane">
            {% block search_pane %}
            {% endblock %}
        </div>
        <div class="col-md-6 col-sm-12 box-layout list-pane">
            {% block list_pane %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-12 pagination-wrapper">
            {{ pagination.links }}
        </div>
    </div>

    <script type="text/javascript">
        const clearForm = form => {
            for (let element of form.elements) element.value = ''
        }
    </script>
{% endblock %}
