{% extends "details.html" %}
{% from 'macros/jumbotron.html' import jumbotron %}
{% from 'macros/details.html' import details, detail, detail_list %}
{% from 'macros/recommendations.html' import list %}

{% block jumbotron %}
{{ jumbotron(practice_center.name, 'practice-centers') }}
{% endblock %}

{% block details %}
{{ details([
detail('Name', practice_center.name),
detail('Web site', practice_center.web_site),
detail('Email', practice_center.email),
detail('Phone number', practice_center.phone_number),
detail_list('Associated climates', practice_center.climates)]) }}
{% endblock %}

{% block recommendations %}
{{ list(practice_center.recommendations) }}
{% endblock %}
