{% extends "list.html" %}
{% from 'macros/jumbotron.html' import jumbotron %}
{% from 'macros/search.html' import input, search_pane_advanced %}
{% from 'macros/list.html' import list, list_item %}

{% block jumbotron %}
{{ jumbotron('Practice Centers', 'practice-centers') }}
{% endblock %}

{% block search_pane %}
{{ search_pane_advanced(form,
                        [input('name', 'Name', form.name.data),
                         input('email', 'Email', form.email.data),
                         input('web_site', 'Web site', form.web_site.data),
                         input('phone_number', 'Phone number', form.phone_number.data)]) }}
{% endblock %}

{% block list_pane %}
{% set items = [] %}

<div class="invisible">
    {% for practice_center in practice_centers %}
    {{ items.append(list_item(practice_center.name, url_for('practice_centers.practice_center_details', practice_center_id=practice_center.id))) }}
    {% endfor %}
</div>

{{ list(items) }}
{% endblock %}
