{% extends "layout.html" %}
{% block content %}

<div class="practice_centers-landing">
    <div class="container">
        <div class="jumbotron" id="jumbotron-practice-centers-landing">
            <h1>Practice centers</h1>
        </div>
        {% if practice_centers|length > 0 %}
        <div class="container-landing-practice-centers">
            <div class="box-landing-practice-centers">
                {% for practice_center in practice_centers %}

                <a class="btn btn-outline-dark btn-lg btn-block active"
                   href="{{ url_for('practice_centers.practice_center_details', practice_center_id=practice_center.id) }}">{{practice_center.name}}
                </a>

                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>


{% endblock %}
