{% extends "details.html" %}
{% from 'macros/announces.html' import equipment_announces_list %}
{% from 'macros/details.html' import details, detail %}
{% from 'macros/jumbotron.html' import jumbotron %}


{% block jumbotron %}
{{ jumbotron(shop.name, 'shops') }}
{% endblock %}

{% block details %}
{{ details([
detail('Name', shop.name),
detail('Web site', shop.web_site),
detail('Email', shop.email),
detail('Phone number', shop.phone_number)]) }}
{% endblock %}

{% block associated_items %}
{{ equipment_announces_list(shop.announces) }}
{% endblock %}
