{% extends "layout.html" %}
{% block content %}

<div class="sports-landing">
    <div class="container">
        <div class="jumbotron" id="jumbotron-sports-landing">
            <h1>Sports</h1>
        </div>

        <div class="container-landing-sports">
            <div class="box-landing-sports">
                {% from "_formhelpers.html" import render_field %}
                <form method=post>
                  <dl>
                    {{ render_field(form.name) }}
                  </dl>
                  {{ form.submit }}
                </form>
            </div>
        </div>

        {% if sports|length > 0 %}
        <div class="container-landing-sports">
            <div class="box-landing-sports">
                {% for sport in sports %}

                <a class="btn btn-outline-dark btn-lg btn-block active"
                   href="{{ url_for('sports.sport_details', sport_id=sport.id) }}">{{sport.name}}
                </a>

                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>


{% endblock %}
