{% extends "layout.html" %}
{% block content %}
<div class="comments-page">
    <div class="page-header">
        <h2>{{ sport.name }}</h2>
    </div>

    {% for recommendation in sport.recommendations %}
    <ul class="list-unstyled">
        <li class="media">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a class="mr-2" href="#">{{ recommendation.username }}</a>
                    {% for i in range(recommendation.note) %}
                    &bigstar;
                    {% endfor %}
                    {% if recommendation.note < 5%}
                    {% for i in range(5 - recommendation.note) %}
                    &star;
                    {% endfor %}
                    {% endif %}
                </h5>
                <small class="text-muted">{{ recommendation.date }}</small>
                <p class="article-content">{{ recommendation.comment }}
                </p>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>

{% endblock %}
