{% extends "layout.html" %}
{% block content %}

<!-- TODO : Not "user-profile" -->
<div class="user-profile">
    <div class="container">
        <div class="jumbotron">
            <h1>SportsApp</h1>
        </div>

        {% if sports|length > 0 %}
        <h3>Sports</h3>
        <div class="row">
            {% for sport in sports %}
            <div class="col-xs-6 col-md-3">
                <tr>
                    <td>
                        <a href="{{ url_for('sports.sport_details', sport_id=sport.id) }}" class="thumbnail">
                            {{ sport.name }}
                        </a>
                    </td>
                </tr>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
