{% extends "details.html" %}
{% from 'macros/jumbotron.html' import jumbotron %}
{% from 'macros/details.html' import details, detail, detail_list, search_link_list %}
{% from 'macros/recommendations.html' import user_recommendations_list %}
{% from 'macros/modals.html' import add_recommendation_modal %}

{% block jumbotron %}
    {{ jumbotron(sport.name, 'sports') }}
{% endblock %}

{% block details %}
    {{ details([detail('Name', sport.name),
        detail_list('Associated climates', sport.climates),
        search_link_list('Required equipment types',
        sport.required_equipment_types, url_for('equipments.equipments'))]) }}
{% endblock %}

{% macro recommendations_title() -%}
    <h2>Recommendations</h2>
    <h3>Average : <strong>{{ sport.average_note }} / 5</strong></h3>
{%- endmacro %}

{% block associated_items_title %}
    {% if session['logged_in'] %}
        <div class="row">
            <div class="col-lg-8 col-md-12">
                {{ recommendations_title() }}
            </div>
            <div class="col-lg-4 col-md-12">
                <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                        data-target="#addRecommendation">
                    Write your own
                </button>
                {{ add_recommendation_modal(form) }}
            </div>
        </div>
    {% else %}
        {{ recommendations_title() }}
    {% endif %}
{% endblock %}

{% block associated_items %}
    {{ user_recommendations_list(sport.recommendations) }}
{% endblock %}
