{% extends "details.html" %}
{% from 'macros/jumbotron.html' import jumbotron %}
{% from 'macros/details.html' import details, detail, detail_list %}
{% from 'macros/recommendations.html' import user_recommendations_list %}

{% block jumbotron %}
{{ jumbotron(sport.name, 'sports') }}
{% endblock %}

{% block details %}
{{ details([detail('Name', sport.name), detail_list('Associated climates', sport.climates)]) }}
{% endblock %}

{% block associated_items %}
{{ user_recommendations_list(sport.recommendations) }}
{% endblock %}
