{% extends "list.html" %}
{% from 'macros/jumbotron.html' import jumbotron %}
{% from 'macros/search.html' import input_group, search_pane_advanced %}
{% from 'macros/list.html' import list, list_item %}

{% block jumbotron %}
{{ jumbotron('Sports', 'sports') }}
{% endblock %}

{% block search_pane %}
{{ search_pane_advanced(form, [input_group('name', 'Name', form.name.data)]) }}
{% endblock %}

{% block list_pane %}
{% set items = [] %}

<div class="invisible">
    {% for sport in sports %}
    {{ items.append(list_item(sport.name, url_for('sports.sport_details', sport_id=sport.id))) }}
    {% endfor %}
</div>

{{ list(items) }}
{% endblock %}
