{% extends "layout.html" %}
{% block content %}

<div class="users-landing">
    <div class="container">
        <div class="jumbotron" id="jumbotron-users-landing">
            <h1>Users</h1>
        </div>
        {% if users|length > 0 %}
        <div class="col-md-6 col-sm-12 container-landing container-landing-users">
            <div class="box-landing-users">
                {% for user in users %}

                <a class="btn btn-outline-dark btn-block active"
                   href="{{ url_for('users.user_details', username=user.username) }}">{{user.username}}
                </a>

                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
</div>


{% endblock %}
