{% extends "details.html" %}
{% from 'macros/jumbotron.html' import jumbotron %}
{% from 'macros/details.html' import details, detail %}
{% from 'macros/recommendations.html' import double_recommendations_list %}

{% block jumbotron %}
{{ jumbotron(user.username, 'users') }}
{% endblock %}

{% block details %}
{{ details([detail('First name', user.first_name),
            detail('Last name', user.last_name),
            detail('Email', user.email)]) }}
{% endblock %}

{% block associated_items %}
{{ double_recommendations_list(user.sport_recommendations, user.practice_center_recommendations) }}
{% endblock %}
