{% extends "list.html" %}
{% from 'macros/jumbotron.html' import jumbotron %}
{% from 'macros/search.html' import input, search_pane_advanced %}
{% from 'macros/list.html' import list, list_item %}

{% block jumbotron %}
{{ jumbotron('Users', 'users') }}
{% endblock jumbotron%}


{% block search_pane %}
{{ search_pane_advanced(form,
                        [input('username', 'Username', form.username.data),
                         input('email', 'Email', form.email.data),
                         input('first_name', 'First name', form.first_name.data),
                         input('last_name', 'Last name', form.last_name.data),
                         input('phone_number', 'Phone number', form.phone_number.data)]) }}
{% endblock %}

{% block list_pane %}
{% set items = [] %}

<div class="invisible">
    {% for user in users %}
    {{ items.append(list_item(user.username, url_for('users.user_details', username=user.username))) }}
    {% endfor %}
</div>

{{ list(items) }}
{% endblock %}


