{% extends "list.html" %}
{% from 'macros/jumbotron.html' import jumbotron %}
{% from 'macros/list.html' import list, list_item %}

{% block jumbotron %}
{{ jumbotron('Users', 'users') }}
{% endblock %}

{% block search_pane %}
<!-- TODO : User search pane -->
{% endblock %}

{% block list_pane %}
{% set items = [] %}

<div class="invisible">
    {% for user in users %}
    {{ items.append(list_item(user.username, url_for('users.user_details', username=user.username))) }}
    {% endfor %}
</div>

{{ list(items) }}
{% endblock %}
